.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.board {
  border: 1px solid #757a92;
  border-radius: 5px;
  padding: 5em;
}

.player {
  background-color: #fff;
  border: 1px solid #234479;
  height: 5em;
  width: 5em;
  margin: 5em;
  border-radius: 20%;
  -moz-border-radius: 20%;
  -webkit-border-radius: 20%;
}
